.nav-main{
    text-align: center;
}

section{
    text-align: center;
}

header{
    display: inline-block;
    background-color: lightgoldenrodyellow;
}
.nav-brand {
   height: 245px;
   padding: 40px;
}

.showcase{
    width: 100%;
    display: inline-block;
}

.bus{
    align-items: center;
    padding: 5px 150px;
    border-radius: 10%;
    border: hidden;
}

footer div{
    background-color: #eae9e9;
    border: black;
    color: grey;
    display: inline-block;
}

.list1 li{
    list-style: none;
    display: inline-block;
    text-align: left;
    background-color: khaki;
    margin-right: 50px;
    position: relative;
    left: -40px;
    right: 50px;
}

.list2 li{
    list-style: none;
    display: inline-block;
    text-align: right;
    background-color: cornflowerblue;
    margin-left: 50px;
    position: relative;
    
}

nav menu {
    list-style: none;
    display: inline-block;
    text-align: right;
}

.menu li{
    list-style: none;
    text-align: right;
}

.boton{
    border: none;
    height: 35px;
    background-color: #eae9f0;
    padding: 12px;
    border-radius: 5px;
    align-items: center;
}

.penultimo{
    border: black;
    background-color: burlywood;
    text-align: left;

}

footer div>div{
    background-color: bisque;
}